.Home {
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  #header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #header img{
    width:70px;
    height: 70px;
    margin-right: 10px;
  }
  h1{
    color:white;
    font: 48px 'Montserrat', sans-serif;
    margin:0;
  }
  #search{
    width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    /* background: #f4f7f8; */
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  input{
    color:black;
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 20px 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 8px 0 0 8px;
  }
  button {
    padding: 13px 30px 12px 30px;
    color: #FFF;
    background-color: #38A6FF;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 120px;
    border: 1px solid#38A6FF;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    border-radius: 0 8px 8px 0;
    margin-bottom: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: #8a97a0;
    border: 1px solid #8a97a0;
  }