header, nav{
    background-color: black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width:100%;
    height:60px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    width:100%;
    height:60px;
    list-style:none;
    text-align: center;
    padding-right: 50px;
}
li{
    text-decoration: none;
    height:60px;
    width:110px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
li:hover{
  background-color: #BF1E47;   
}
li a{
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;

}
input[type="text"] {
    background: rgba(255,255,255,0.1);
    border: 2px solid #e8eeef;
    font-size: 14px;
    height: 40px;
    margin: 0 10px 0 0;
    outline: 0;
    width: 350px;
    color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    border-radius: 5px;
    text-align: justify;
    text-indent: 10px;
  }
  #logo{
    width:40px;
    margin: 0 20px;
  }