#searchPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
header, nav{
    background-color: black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width:100%;
    height:60px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#navSearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    width:100%;
    height:60px;
    list-style:none;
    text-align: center;
    padding-right: 50px;
}
li{
    text-decoration: none;
    height:60px;
    width:110px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
li:hover{
  background-color: #38A6FF;   
}
li a{
    color: rgba(255,255,255, 0.9);
    text-decoration: none;
    text-align: center;
    font-size: 16px;

}
#query {
    background: rgba(255,255,255,0.1);
    border: 2px solid rgba(255,255,255, 0.8);
    font-size: 14px;
    height: 40px;
    margin: 0 0.25px 0 0;
    outline: 0;
    width: 300px;
    color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    text-align: justify;
    text-indent: 10px;
    border-radius: 8px 0 0 8px;
}
#query:hover{
    border-color: "#38A6FF";
}
#homeLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav > a{
    text-decoration: none;
}
#logo{
  width:40px;
  margin: 0 10px 0 30px;
  opacity: 0.9;
}
h6{
    margin-right: 20px;
    font-size: 18px;
}
#navSearchBTN{
    color: #FFF;
    background-color: #38A6FF;
    font: 18px 'Montserrat', sans-serif;
    text-align: center;
    font-style: normal;
    border: 1px solid#38A6FF;
  padding: 7px 17px 7.1px 17px;
  width: auto;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  border-radius: 1.5px 8px 8px 0;
  margin-bottom: 0px;
  cursor: pointer;
}
#navSearchBTN:hover{
    background-color: #8a97a0;
    border: 1px solid #8a97a0;
}
span{
    font-weight: bold;
}
.pagination{
    /* border-top: 0.25px solid rgba(255,255,255, 0.5); */
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#searchHeader{
    margin: 40px 0 20px 0;
}
.totalResults{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px 100px;
    /* border-bottom: 2px solid rgba(255,255,255, 0.5); */
    width:100%;
}
.results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:20px 100px;
    border-bottom: 2px solid rgba(255,255,255, 0.5);
    width:100%;
}
.queryResult{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.username, .queryResult > a{
    color:#38A6FF;
}
.userInfo{
    width: 100%;
}
#userInfo p{
    width: 450px;
    margin: 10px 0;
}
.searchImg{
    width:100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 80px;
}
.additionalInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.additionalInfo span{
    margin: 0 10px;
}
.additionalInfo span:first-child{
    margin: 0 10px 0 0;
}
.paginationBTN{
    background-color: #38A6FF;
}
#paginationDisplay{
    width:30px;
    /* height:3em; */
    border-radius: 0;
    padding:2px 0;
}
#pageBTNS{
    display: flex;
    align-items: stretch;
}