/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,300&display=swap'); */
html,body{
  font-family: 'Montserrat', sans-serif;

}
*{
  box-sizing: border-box;
  color: rgba(255,255,255, 0.9);
  margin:0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  padding: 13px 30px 12px 30px;
  color: #FFF;
  background-color: #38A6FF;
  font: 18px 'Montserrat', sans-serif;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 120px;
  border: 1px solid#38A6FF;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  border-radius: 0 8px 8px 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
